// Main text style colors.
$text-link: #1b1b18;
$text-link-hover: #1d4ed8;
$font-main: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 2rem;
$font-weight-bold: 700;
$font-weight-normal: 400;
$color-text-dark: #26261d;
